<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Id channel:</strong>
  <%= @reserva.id_channel %>
</p>

<p>
  <strong>Special offer:</strong>
  <%= @reserva.special_offer %>
</p>

<p>
  <strong>Reservation code:</strong>
  <%= @reserva.reservation_code %>
</p>

<p>
  <strong>Arrival hour:</strong>
  <%= @reserva.arrival_hour %>
</p>

<p>
  <strong>Booked rate:</strong>
  <%= @reserva.booked_rate %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @reserva.rooms %>
</p>

<p>
  <strong>Customer mail:</strong>
  <%= @reserva.customer_mail %>
</p>

<p>
  <strong>Customer country:</strong>
  <%= @reserva.customer_country %>
</p>

<p>
  <strong>Children:</strong>
  <%= @reserva.children %>
</p>

<p>
  <strong>Payment gateway fee:</strong>
  <%= @reserva.payment_gateway_fee %>
</p>

<p>
  <strong>Customer surname:</strong>
  <%= @reserva.customer_surname %>
</p>

<p>
  <strong>Date departure:</strong>
  <%= @reserva.date_departure %>
</p>

<p>
  <strong>Forced price:</strong>
  <%= @reserva.forced_price %>
</p>

<p>
  <strong>Amount reason:</strong>
  <%= @reserva.amount_reason %>
</p>

<p>
  <strong>Customer city:</strong>
  <%= @reserva.customer_city %>
</p>

<p>
  <strong>Opportunities:</strong>
  <%= @reserva.opportunities %>
</p>

<p>
  <strong>Date received:</strong>
  <%= @reserva.date_received %>
</p>

<p>
  <strong>Was modified:</strong>
  <%= @reserva.was_modified %>
</p>

<p>
  <strong>Sessionseed:</strong>
  <%= @reserva.sessionSeed %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @reserva.customer_name %>
</p>

<p>
  <strong>Date arrival:</strong>
  <%= @reserva.date_arrival %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reserva.status %>
</p>

<p>
  <strong>Channel reservation code:</strong>
  <%= @reserva.channel_reservation_code %>
</p>

<p>
  <strong>Customer phone:</strong>
  <%= @reserva.customer_phone %>
</p>

<p>
  <strong>Orig amount:</strong>
  <%= @reserva.orig_amount %>
</p>

<p>
  <strong>Men:</strong>
  <%= @reserva.men %>
</p>

<p>
  <strong>Customer notes:</strong>
  <%= @reserva.customer_notes %>
</p>

<p>
  <strong>Customer address:</strong>
  <%= @reserva.customer_address %>
</p>

<p>
  <strong>Status reason:</strong>
  <%= @reserva.status_reason %>
</p>

<p>
  <strong>Roomnight:</strong>
  <%= @reserva.roomnight %>
</p>

<p>
  <strong>Customer language:</strong>
  <%= @reserva.customer_language %>
</p>

<p>
  <strong>Fount:</strong>
  <%= @reserva.fount %>
</p>

<p>
  <strong>Customer zip:</strong>
  <%= @reserva.customer_zip %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @reserva.amount %>
</p>

<p>
  <strong>Cc info:</strong>
  <%= @reserva.cc_info %>
</p>

<p>
  <strong>Room opportunities:</strong>
  <%= @reserva.room_opportunities %>
</p>

<p>
  <strong>Customer language iso:</strong>
  <%= @reserva.customer_language_iso %>
</p> -->

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
